{% load tags %}
        <div class="post">
            <div class="post-header">
                <h3><a href="{% url "post_view" item.id %}">{{ item.title }}</a></h3>
            </div>
            <div class="post-body">
                <p>{{ item.description|truncatechars:400 }}</p>
            </div>
            {% csrf_token %}
        </div>
        <div class="rate_block{{ item.id }}">
                <a data-value="+" class="like_click like-plus" id="{{ item.id }}">+</a>
                <strong class="vote_result">{% get_likes_count item.id %}</strong>
                <a data-value="-" class="like_click like-minus" id="{{ item.id }}">-</a>
        </div>
        <div class="post-info">
            {% get_full_info_about_post item.pk user %}
            {% if user %}
            <span class="add-favorite" data-postid ="{{ item.id }}">
                {% is_favourite item.pk user%}
            </span>
            {% endif %}
        </div>
