{% load tags %}
<p>{{ comment.author }}</p>
<p>{{ comment.text }}</p>

    {% for child in children %}
        <input type="button" value="Ответить!"  onclick="open_comment_form({{ child.id }}, '{% url 'comment_answer_view' child.id %}')">
        {% if child.head > 1%}
            {% com_tree child %}
            <div id="comment{{ child.id }}"></div>
        {% else %}
            <ul>
            <li>
            {% com_tree child %}
                <div id="comment{{ child.id }}"></div>
            </li>
            </ul>
        {% endif %}

    {% endfor %}


