{% load tags %}
{% load staticfiles %}
{% load compile_static %}
<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link href="{{ STATIC_URL }}{% compile 'css/styles.less' %}" rel="stylesheet"/>
        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js'%}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
        <title></title>
    </head>
    <body>
        <header>
            <a href="{% url 'main_view' %}"><img class="d3logo" src="https://d3.ru/static/i/logo_main_retina.png"/></a>
            <div class="header-tagline">
                {% block header %}
                    {% if user.username %}
                        <p><a href="{% url 'newpost_view' %}">Новый пост</a>, <a href="{% url 'profile_view' user.username %}">{{ user.username }}</a>?</p>
                    {% else %}
                        <p><a href="{% url 'login_view' %}">Войдите</a> или <a href="{% url 'register_view' %}">зарегистрируйтесь!</a></p>
                    {% endif %}
                {% endblock %}
            </div>
            <nav class="header-navbar">
                <a>Мои вещи</a>
                <a>Инбоксы</a>
                <a href="{% url 'favourite_view' %}">Избранное</a>
                <a href="{% url 'profile_edit_view' %}">Настройки</a>
            </nav>
        </header>
        <div class="clearfix"></div>

        <div class="content-main-container">
            <aside class="content-sidebar">test</aside>
            <div class="post-holder">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        {% block scripts %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/base.js">

        </script>
        {% endblock %}
    <a href="{% url 'logout_view' %}">debug(logout)s</a>
    </body>
</html>