{% extends "base.html" %}
{% load tags %}
{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}
    {% for item in list_popular_posts %}
        <div class="post">
            <div class="post-header">
                <h3><a href="{% url "post_view" item.id %}">{{ item.title }}</a></h3>
            </div>
            <div class="post-body">
                <p>{{ item.description|truncatechars:400 }}</p>
            </div>
            <p id="likes_post{{ item.id }}">{% get_likes_count item.id %}</p>
            {% csrf_token %}
            <div class="rate_block{{ item.id }}">
                <input type="submit" value="+" name="submit" class="like_click" id="{{ item.id }}"/>
                <input type="submit" value="-" name="submit" class="like_click" id="{{ item.id }}"/>
            </div>
        </div>
        <div class="post-info">
            {% get_full_info_about_post item.id %}
        </div>
    {% endfor %}
        {% if is_paginated %}
            <div class="paginator">
                {% if page_obj.has_previous  %}
                    <a href="{% url 'main_view' %}?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for pag in page_obj.paginator.page_range %}
                    {% ifequal pag page_obj.number %}
                        {{ pag }}
                    {% else %}
                        <a href="{% url 'main_view' %}?page={{ pag }}">{{ pag }}</a>
                    {% endifequal %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'main_view' %}?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </div>
        {% endif %}
{% endblock %}