{% extends "base.html" %}

{% block content %}

    <p>{{ u.about }}</p>
    <div class="karma-wrapper">
        {% if not isOwn %}<a class="karma-manipulation">-</a>{% endif %}<p id="karma-info">{{ karma }}</p>{% if not isOwn %}<a class="karma-manipulation">+</a>{% endif %}
    </div>
        {% if isOwn %}
            <p><a href="{% url 'profile_edit_view' %}"> Изменить профиль...</a></p>
        {% endif %}
    </p>


    <script type="text/javascript">
        $('.karma-manipulation').click(function(){
            var name = "{{ u.username }}";
            var url = "{% url 'karma_edit_view' 12 %}".replace(12, name);
            var karma_type = $(this).text();
            $.ajax({
                url: url,
                type: "POST",
                data: {'karma_type':karma_type},
                success: function(data){
                    if(data !== "error"){
                            $('#karma-info').text(data);
                    }
                },
                error: function(data){
                    console.log(data);
                }
            })
        })
    </script>


{% endblock %}